{
  "parser": "babel-eslint",
  "plugins": ["react", "require-in-package"],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "rules": {
    "brace-style": [2, "1tbs"],
    "camelcase": [2, {"properties": "always"}],
    "comma-dangle": [2, "always-multiline"],
    "comma-style": [2, "last"],
    "default-case": 2,
    "dot-location": [2, "property"],
    "eqeqeq": [2, "allow-null"],
    "generator-star-spacing": [2, "after"],
    "guard-for-in": 2,
    "handle-callback-err": 0,
    "indent": [2, 4, {"SwitchCase": 1}],
    "jsx-quotes": [2, "prefer-double"],
    "new-cap": [2, {"capIsNew": false}],
    "no-bitwise": 2,
    "no-cond-assign": [2, "always"],
    "no-constant-condition": 0,
    "no-console": 1,
    "no-floating-decimal": 2,
    "no-nested-ternary": 2,
    "no-path-concat": 0,
    "no-undef": 2,
    "no-underscore-dangle": 0,
    "no-unused-vars": 2,
    "no-use-before-define": [1, "nofunc"],
    "no-var": 2,
    "quotes": [2, "single", "avoid-escape"],
    "radix": 2,
    "react/display-name": 2,
    "react/jsx-boolean-value": [2, "always"],
    "react/jsx-no-undef": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-did-mount-set-state": [2, "allow-in-func"],
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 2,
    "react/no-unknown-property": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/require-extension": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": 2,
    "react/wrap-multilines": 2,
    "require-in-package/require-in-package": 2,
    "semi": 2,
    "space-after-keywords": [2, "always"],
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, "never"],
    "spaced-comment": [2, "always", {"exceptions": ["-"]}],
    "valid-jsdoc": [2, {"requireReturn": false, "requireReturnDescription": false}],
    "wrap-iife": 2
  },
  "globals": {
    "fetch": true
  }
}
